.cv-config-toolbar {
  border: solid 1px yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cv-config-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cv-config-item-container {
  height: 100%;
  border: solid 1px darkslategray;
}
.cv-config-header {
  height: 20px;
  border: solid 1px darkblue;
}

.cv-component-list {
  height: -webkit-fill-available;
  border: solid 1px blue;
}

.cv-panel {
  display: flex;
  flex-direction: column;
}

.cv-top-toolbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
